.form {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  width: 100%;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.form__label {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.form__input {
  line-height: 2;
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid black;
}

.form button {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.form button:hover {
  background: gray;
  color: black;
}
